<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/common/css/base.css">
    <title>CRM管理系统</title>
    <style>
        .container {
            position: fixed;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: url("/static/welcome/img/welcome_bg.jpg") no-repeat;
            background-size: cover;
            background-position: center center;

            color: rgba(255, 255, 255, 0.7);
        }
    </style>
</head>
<body>
<div class="container">
    <h1>欢迎进入CRM客户管理系统</h1>
</div>
</body>
</html>