<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/common/css/base.css">
    <link rel="stylesheet" href="/static/common/plugin/layui/css/layui.css">
    <title>导入客户</title>
    <style>
        .container {
            padding: 20px;
        }
        .layui-table {
            font-size: 13px;
        }
        .select-btn {
            display: flex;
            width: 400px;
            height: 200px;
            justify-content: center;
            align-items: center;
            color: gray;
            border: 1px dotted gray;
            border-radius: 5px;
            cursor: pointer;
            margin: 20px auto;
        }
        .btn-box {
            text-align: center;
        }

    </style>
</head>
<body>
    <div class="container">
        <h2>
            <a href="javascript: history.go(-1);" class="layui-btn layui-btn-xs layui-btn-primary">
                <i class="layui-icon layui-icon-return"></i> 
                返回
            </a>
            &ensp;
            <i class="layui-icon layui-icon-note"></i>
            导入客户
        </h2>
        <hr>
        <label class="layui-btn layui-btn-primary select-btn" for="file_input">
            <i class="layui-icon layui-icon-upload-drag"></i>
            &nbsp; 
            选择xlsx文件
        </label>
        <input type="file" id="file_input" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" class="layui-hide">
        <div class="customer-table-box">

        </div>
        <div class="btn-box">
            <button class="layui-btn layui-btn">确认无误</button>
            <button class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</body>
</html>
<script type="text/html" id="customer_table">
    <table class="layui-table">
        <thead>
        <tr>
            <td>姓名</td>
            <td>公司(或证书)</td>
            <td>地址</td>
            <td>联系方式</td>
            <td>标签</td>
            <td>价格</td>
            <td>总计金额</td>
            <td>阶段</td>
            <td>合同类型</td>
            <td>签约开始时间</td>
            <td>签约结束时间</td>
            <td>签约期限</td>
            <td>收款人</td>
            <td>收款账户</td>
            <td>开户行</td>
            <td>备注信息</td>
        </tr>
        </thead>
        <tbody>
        {% each data %}
            <tr>
                <td>{% $value.name %}</td>
                <td>{% $value.company %}</td>
                <td>{% $value.addr %}</td>
                <td>{% $value.tel %}</td>
                <td>{% $value.tag %}</td>
                <td>{% $value.price %}</td>
                <td>{% $value.amount %}</td>
                <td>{% $value.stage %}</td>
                <td>{% $value.contract %}</td>
                <td>{% $value.appoint_start %}</td>
                <td>{% $value.appoint_end %}</td>
                <td>{% $value.period %}</td>
                <td>{% $value.payee %}</td>
                <td>{% $value.payee_username %}</td>
                <td>{% $value.bank %}</td>
                <td>{% $value.remark %}</td>
            </tr>
        {% /each %}
        </tbody>
    </table>
</script>
<script src="/static/common/js/base.js"></script>
<script src="/static/common/plugin/art-template/art-template.js"></script>
<script src="/static/common/plugin/sheet/xlsx.mini.min.js"></script>
<script>
    var file_input = document.querySelector("#file_input");
    var customer_box = document.querySelector(".customer-table-box");

    // 用于保存表格中的数据
    var data = null;
    // 选中文件
    file_input.onchange = function(){
        if(!this.files[0]){
            return;
        }

        // 读取表格
        readExcel(this.files[0], data=>{
            console.log(data);
            customer_box.innerHTML = renderHTML(data);
        });
    }

    var fields = ["name", "company", "tel", "addr", "tag", "stage", "contract", "price", "amount", "appoint_start", "appoint_end", "period", "payee", "payee_username", "bank", "remark"];

    // 读取xlsx文件内容
    function readExcel(file, callback) {
        let reader = new FileReader();
        reader.onload = function(e) {
            let binStr = e.target.result;
            let workbook = XLSX.read(binStr, {type: "binary"});
            let data = XLSX.utils.sheet_to_json(workbook.Sheets[workbook.SheetNames[0]],{
                // 自定义header头
                header: fields,
                // 去掉头部的表格头内容，从下标1开始读取
                range: 1
            });
            //返回数据放在callback中
            callback(data);
        };
        reader.readAsBinaryString(file);
    }

    // 模板渲染
    function renderHTML(data){
        var rule = template.defaults.rules[1];
        rule.test = new RegExp(rule.test.source.replace("\{\{", "\{%").replace("}}", "%}"));
        var customer_table_str = template("customer_table", {
            data: data
        });

        return customer_table_str;
    }


    
</script>