<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/common/css/base.css">
    <link rel="stylesheet" href="/static/common/plugin/layui/css/layui.css">
    <title>全部客户</title>
    <style>
        .container {
            padding: 20px;
        }
        #pagination {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>
            <i class="layui-icon layui-icon-note"></i>
            全部客户
        </h2>
        <hr>
        <table class="layui-table">
            <thead>
                <tr>
                    <td>编号</td>
                    <td>姓名</td>
                    <td>电话</td>
                    <td>公司(或证书)</td>
                    <td>地址</td>
                    <td>阶段</td>
                    <td>标签</td>
                    <td>所有者</td>
                    <td>创建时间</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody>
                {{range $k,$v := .customerList}}
                <tr>
                    <td>{{$v.Id}}</td>
                    <td>{{$v.Name}}</td>
                    <td>{{$v.Tel}}</td>
                    <td>{{$v.Company}}</td>
                    <td>{{$v.Addr}}</td>
                    <td>
                        {{if eq $v.Stage 0}}
                            已失效
                        {{end}}
                        {{if eq $v.Stage 1}}
                            新入库
                        {{end}}
                        {{if eq $v.Stage 2}}
                            沟通中
                        {{end}}
                        {{if eq $v.Stage 3}}
                            已签约
                        {{end}}
                        {{if eq $v.Stage 4}}
                            到期不续
                        {{end}}
                    </td>
                    <td>
                        {{if eq $v.Tag 1}}
                            人才库
                        {{end}}
                        {{if eq $v.Tag 2}}
                            企业库
                        {{end}}
                    </td>
                    <td>
                        {{if $v.UserName}}
                            {{$v.UserName}}
                        {{end}}
                    </td>
                    <td>{{$v.CreateTime|str2date}}</td>
                    <td>
                        <a href="/customer/detail?id={{$v.Id}}" class="layui-btn layui-btn-normal layui-btn-sm">
                            <i class="layui-icon layui-icon-edit"></i>
                        </a>
                        <button class="layui-btn layui-btn-danger layui-btn-sm" type="button" onclick="delCustomer({{$v.Id}})">
                            <i class="layui-icon layui-icon-delete"></i>
                        </button>
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
        <input type="hidden" id="total" value="{{.total}}">
        <div id="pagination"></div>
    </div>
</body>
</html>
<script src="/static/common/js/base.js"></script>
<script src="/static/common/plugin/layui/layui.js"></script>
<script>
    var page = getUrlParam("page") || 0;
    var pagesize = 10;
    var total_input = document.querySelector("#total");

    // 分页
    layui.use("laypage", function(){
        var laypage = layui.laypage;

        //执行一个laypage实例
        laypage.render({
            elem: "pagination", //注意，这里的 test1 是 ID，不用加 # 号
            count: total_input.value, //数据总数，从服务端得到
            limit: pagesize,
            curr: page,
            jump: function(obj, first){
                if(first){
                    return;
                }
                location.href = "/customer/public?page="+obj.curr+"&pagesize="+obj.limit;
            }
        });
    });

    // 删除客户
    function delCustomer(id){
        if(!confirm("确定要删除该客户记录吗？")){
            return;
        }

        ajax({
            url: "/customer/del?id="+id,
            type: "get"
        }).then(res=>{
            if(res.code == 200){
                alert(res.msg);
                location.reload();
            }else{
                alert(res.msg);
            }
        });
    }
</script>