<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/common/css/base.css">
    <link rel="stylesheet" href="/static/common/plugin/layui/css/layui.css">
    <title>审批详情</title>
    <style>
        .container {
            padding: 20px;
        }
        .title {
            font-weight: bold;
            font-size: 18px;
        }
        .money {
            color: green;
        }
        .audit-box {
            background-color: #f1f1f1;
            padding: 10px;
            width: 600px;
        }
        .audit-box > p {
            padding: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>
            <a href="javascript:history.back()" class="layui-btn layui-btn-primary layui-btn-sm">
                <i class="layui-icon layui-icon-return"></i>
                返回
            </a>
            <i class="layui-icon layui-icon-note"></i>
            审批详情
        </h2>
        <hr>
        <ul class="layui-timeline">
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis"></i>
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">发起审批（{{.auditInfo.CreateTime|str2date}}）</h3>
                    <div class="audit-box">
                        <p class="title">
                            {{.auditInfo.Title}}
                        </p>
                        <p>
                            提交者：{{.auditInfo.UserName}}
                        </p>
                        <p class="money">
                            金额：￥{{.auditInfo.Money}}
                        </p>
                        <p>
                            备注：{{.auditInfo.Desc}}
                        </p>
                    </div>

                </div>
            </li>
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis"></i>
                <div class="layui-timeline-content layui-text">
                    {{if eq .auditInfo.FirstConfirm 0}}
                        <h3 class="layui-timeline-title">
                            <font color="gray">未确认</font>
                        </h3>
                        <div>
                            <p>第一级确认</p>
                            <br>
                            <button type="button" class="layui-btn" onclick="firstConfirm(1)">通过</button>
                            <button class="layui-btn layui-btn-danger" onclick="firstConfirm(2)">拒绝</button>
                        </div>
                    {{else}}
                        <h3 class="layui-timeline-title">
                            {{if eq .auditInfo.FirstConfirm 1}}
                                <font color="green">已通过</font>
                            {{end}}
                            {{if eq .auditInfo.FirstConfirm 2}}
                                <font color="red">已拒绝</font>
                            {{end}}
                            （{{.auditInfo.FirstConfirmTime|str2date}}）
                        </h3>
                        <p>第一级确认</p>
                    {{end}}
                </div>
            </li>
            <!--    只有第一级确认为通过状态才会显示第二级确认信息   -->
            {{if eq .auditInfo.FirstConfirm 1}}
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis"></i>
                <div class="layui-timeline-content layui-text">
                    {{if eq .auditInfo.SecondConfirm 0}}
                    <h3 class="layui-timeline-title">
                        <font color="gray">未确认</font>
                    </h3>
                    <p>
                        <p>第二级确认</p>
                        <br>
                        <button type="button" class="layui-btn" onclick="secondConfirm(1)">通过</button>
                        <button class="layui-btn layui-btn-danger" onclick="secondConfirm(2)">拒绝</button>
                    </p>
                    {{else}}
                        <h3 class="layui-timeline-title">
                            {{if eq .auditInfo.SecondConfirm 1}}
                                <font color="green">已通过</font>
                            {{end}}
                            {{if eq .auditInfo.SecondConfirm 2}}
                                <font color="red">已拒绝</font>
                            {{end}}
                            （{{.auditInfo.SecondConfirmTime|str2date}}）
                        </h3>
                        <p>第二级确认</p>
                    {{end}}
                </div>
            </li>
            {{end}}
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis"></i>
                <div class="layui-timeline-content layui-text">

                </div>
            </li>
        </ul>
        <input type="hidden" id="audit_id" value="{{.auditInfo.Id}}">
    </div>
</body>
</html>
<script src="/static/common/js/base.js"></script>
<script>
    var audit_id = document.querySelector("#audit_id");

    // 一级确认
    function firstConfirm(status){
        ajax({
            url: "/audit/firstconfirm",
            type: "post",
            data: {
                id: audit_id.value,
                status: status
            }
        }).then(res=>{
            if(res.code == 200){
                alert(res.msg);
                location.reload();
            }else{
                alert(res.msg);
            }
        });
    }
    // 二级确认
    function secondConfirm(status){
        ajax({
            url: "/audit/secondconfirm",
            type: "post",
            data: {
                id: audit_id.value,
                status: status
            }
        }).then(res=>{
            if(res.code == 200){
                alert(res.msg);
                location.reload();
            }else{
                alert(res.msg);
            }
        });
    }
</script>