<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/common/css/base.css">
    <link rel="stylesheet" href="/static/common/plugin/layui/css/layui.css">
    <title>一级确认</title>
    <style>
        .container {
            padding: 20px;
        }
        .money {
            color: green;
        }
        .confirm-table {
            width: 1000px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>
            <i class="layui-icon layui-icon-note"></i>
            审批列表
        </h2>
        <hr>
        <table class="layui-table confirm-table">
            <thead>
                <tr>
                    <td>提交时间</td>
                    <td>提交人</td>
                    <td>标题</td>
                    <td>金额</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody>
            {{range $k,$v := .auditList}}
                <tr>
                    <td>
                        {{$v.CreateTime}}
                    </td>
                    <td>{{$v.UserName}}</td>
                    <td>
                        {{$v.Title}}
                    </td>
                    <td class="money">￥{{$v.Money}}</td>
                    <td>
                        <a class="layui-btn layui-btn-xs layui-btn-normal" href="/audit/detail?id={{$v.Id}}">审批</a>
                    </td>
                </tr>
            {{end}}
            </tbody>
        </table>
    </div>
</body>
</html>